{:source-paths ["src/main"
                "src/test"]

 :dependencies [[com.andrewmcveigh/cljs-time "0.5.2"]
                [reagent "0.8.1"]
                [herb "0.10.0"]]

 :builds       {:app      {:output-dir  "target/main"
                           :asset-path  "."
                           :target      :browser
                           :modules     {:main {:init-fn app.core/main!}}
                           :devtools    {:after-load app.core/reload!
                                         :http-root  "target/main"
                                         :http-port  8080}
                           :release     {:output-dir "target/production"}
                           :build-hooks [(app.build/copy-assets!)]}
                :test     {:target :karma
                           :output-to  "target/karma/test.js"}}}
