{:full-name "Alexandre Cisneiros"
 :nickname  "Cisne"
 :bio       "I work with full-stack web and app development, DevOps and automation.
             I like functional programming, solving people's problems and monitoring things.
             I also enjoy IoT and magic (combined or not)."
 :location  "São Paulo, BR"
 :contacts  {:linkedin     "https://www.linkedin.com/in/alexandrecisneiros/"
             :github       "https://github.com/Cisneiros"
             :twitter      "https://twitter.com/Cisneiros"
             :speaker-deck "https://speakerdeck.com/cisneiros"
             :email        "https://cisneiros.typeform.com/to/RRc6eI"}}
